<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gitPub</title>
  <style>
    body {
      background-color: whitesmoke;
      color: maroon;
    }
  </style>
</head>

<body>
  <h1>Welcome to gitPub2.0</h1>
  <% for(let i=0; i < drinks.length; i++){ %>

    <li><a href="/drinks/<%= i %>">
        <%= drinks[i].name %>
      </a></li>

    <% } %>
      </ul>
</body>

</html>