<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gitPub</title>
  <style>
    body {
      background-color: whitesmoke;
      color: tomato;
    }

    h1 {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    li {
      list-style-type: none;
      margin-left: 10%;
      font-family: Arial, Helvetica, sans-serif;
    }

    a:link {
      color: darkblue
    }

    a:visited {
      color: cornflowerblue
    }

    a:hover {
      color: coral
    }

    a:active {
      color: aquamarine
    }
  </style>
</head>

<body>
  <h1>Welcome to gitPub</h1>
  <% for(let i=0; i < drinks.length; i++){ %>

    <li><a href="/drinks/<%= i %>">
        <%= drinks[i].name %>
      </a></li>

    <% } %>
      </ul>
</body>

</html>